* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #000000;
}

button {
    padding: 15px 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: none;
    background: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

button:hover {
    box-shadow: 5px 5px 0px rgba(236, 236, 236, 0.381);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

button:active {
    transform: scale(0.98);
}