:root{
    --x:400px;
    --y:400px;
    --white-color:white;
    --black-color:black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000;
}

/* 
    linear gradient
    radial gradient 
*/

.box{
    height: 100%;
    width: 100%;
    /* background: linear-gradient(in oklab to left, white, red, purple); */
    /* background: radial-gradient( 300px at 100px 100px, white, purple); */
    background: radial-gradient(150px at var(--x) var(--y), var(--white-color), var(--black-color));
}