:root{
    --x:400px;
    --y:400px;
    --white-color:rgba(255, 255, 255, 0);
    --black-color:rgba(0, 0, 0, 0.821);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000;
}

body{
    background: url('https://images.pexels.com/photos/10337816/pexels-photo-10337816.jpeg');
    background-size: cover;
}

/* 
    linear gradient
    radial gradient 
*/

.box{
    height: 100%;
    width: 100%;
    /* background: linear-gradient(in oklab to left, white, red, purple); */
    /* background: radial-gradient( 300px at 100px 100px, white, purple); */
    background: radial-gradient(150px at var(--x) var(--y), var(--white-color), var(--black-color));
}